.background__tools {
  display: flex;
  height: 100vh;
  position: relative;
  width: 85vw;
}

.background__tools .tools__titles {
  align-items: center;
  display: flex;
}

.background__tools .tools__titles .titles__header {
  text-transform: uppercase;
}

.background__tools .tools__titles .titles__header h3,
.background__tools .tools__titles .titles__header h2 {
  margin: 0.5em auto;
}

.background__tools .titles__header h3 {
  font-size: 1.5rem;
}

.background__tools .titles__header h2 {
  font-size: 2rem;
}

.background__tools .tools__titles .titles__divider {
  background-color: var(--white);
  height: 90vh;
  margin: auto 1.5em auto 2em;
  width: 0.1em;
}

.background__tools .tools__tools-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background__tools .tools__tools-list .tools-list__form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  width: 30em;
}

.background__tools .tools-list__form input[type="text"] {
  background-color: var(--gray);
  border: none;
  border-radius: 2em;
  color: var(--white);
  font: inherit;
  padding: 0.7em;
  width: 20em;
}

.background__tools .tools-list__form input[type="text"]:focus {
  background-color: var(--dark-gray);
  outline: none;
  transition: var(--focus-transition);
}

.background__tools .tools-list__form .form__counter {
  background-color: var(--dark-gray);
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 0.5em;
}
/*tai day*/
.background__tools .tools__tools-list .tools-list__list li {
  background-color: #353535;
    display: inline-block;
    padding: 15px;
    margin: 0 0 2.5% 2.5%;
    font-size: 1.6vw;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    transition: .3s
}

.background__tools .tools__tools-list .tools-list__list img {
width: 150px;
    height: 150px;
}

.background__tools .tools-list__list::-webkit-scrollbar,
.background__tools .tools-list__list::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  width: 0.8em;
}

.background__tools .tools-list__list::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
}

.background__tools .tools-list__list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}

.background__tools .tools-list__list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.background__tools .tools-list__list .list__tools {
  align-items: flex-start;
  display: flex;
}

.background__tools .tools-list__list .list__tools:not(:first-child) {
  margin: 0.7em auto;
}

.background__tools .tools-list__list .list__tools:first-child {
  margin: auto auto 0.7em auto;
}

.background__tools .list__tools input[type="button"],
.background__tools .list__tools input[type="checkbox"] {
  cursor: pointer;
  min-height: 1.45em;
  min-width: 1.45em;
}

.background__tools .list__tools input[type="button"] {
  background: url("../../img/tools/x.png") no-repeat center/80%;
  border: none;
  margin: 0.1em 0.2em 0 0;
  opacity: 0.5;
}

.background__tools .list__tools input[type="button"]:hover {
  opacity: 1;
  transition: var(--hover-transition);
}

.background__tools .list__tools input[type="checkbox"] {
  accent-color: var(--toggle-green);
  margin-top: 0.15em;
}

.background__tools .tools-list__list .list__tools span {
  margin-left: 0.5em;
}

/* JS Class */
.checked {
  text-decoration: line-through;
}

@media screen and (max-width: 962px) {
  .background__tools .list__tools input[type="button"],
  .background__tools .list__tools input[type="checkbox"] {
    min-height: 1.3em;
    min-width: 1.3em;
  }
}

@media screen and (max-width: 768px) {
  .background__tools {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .background__tools .tools__titles .titles__header {
    margin-right: auto;
  }

  .background__tools .tools__titles {
    flex-direction: column;
  }

  .background__tools .tools__titles .titles__divider {
    height: 0.1em;
    margin: 1em auto 0.5em auto;
    width: 80vw;
  }

  .background__tools .tools__tools-list .tools-list__list {
    height: 60vh;
    width: 80vw;
  }

  .background__tools .list__tools input[type="button"],
  .background__tools .list__tools input[type="checkbox"] {
    min-height: 1.1em;
    min-width: 1.1em;
  }

  .background__tools .list__tools input[type="button"] {
    margin-top: -0.2em;
  }

  .background__tools .list__tools input[type="checkbox"] {
    margin-top: -0.1em;
  }
}

@media screen and (max-width: 601px) {
  .background__tools .list__tools input[type="button"],
  .background__tools .list__tools input[type="checkbox"] {
    margin-top: 0;
    min-height: 1em;
    min-width: 1em;
  }

  .background__tools .list__tools input[type="button"] {
    margin-top: -0.21em;
  }
}

@media screen and (max-width: 414px) {
  .background__tools .list__tools input[type="button"],
  .background__tools .list__tools input[type="checkbox"] {
    min-height: 0.9em;
    min-width: 0.9em;
  }

  .background__tools .list__tools input[type="button"] {
    margin-right: 0;
  }
}

@media screen and (max-width: 375px) {
  .background__tools .tools__tools-list .tools-list__form {
    width: 28em;
  }

  .background__tools .tools-list__form .form__counter {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 272px) {
  .background__tools .tools__tools-list .tools-list__form {
    width: 27em;
  }

  .background__tools .tools-list__form .form__counter {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 260px) {
  .background__tools {
    display: none;
  }
}
